* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgoldenrodyellow;
    color: rgb(54, 64, 38);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav, header{ 
    background-color: lightgreen;
}  

nav a {
    display: inline-block;
    background-color: lightseagreen;
    color: brown;
    margin-right:1px;
    padding: 0.5rem;
    text-decoration: none;
}

nav a.selected {
    background-color: brown;
    color: lightseagreen;
}
main{
    padding: 1rem;
    text-align: center;
}
#home-nav a {
    display: inline-block;
    margin: 2rem;
    color: lightcyan;
    text-shadow: 1px 0 0 black;
    font-size: 1.2rem;
    text-decoration: none;
}
#home-nav img{
    border-radius: 3rem;
    box-shadow: 1rem 1rem 1rem 0 black;
    border: 1rem solid white;
}
#home-nav a .title{
    margin-top: -3rem;
    z-index: 100;
}
.carousel {
    width: 550px;
    margin: auto;
}
.ss,
.park-card{
    background-color: rgb(233, 134, 41);
    border-radius: 10%;
    border: 4px solid;
    border-color: brown;
    margin: 1rem;
    padding: 1rem;
    color: rgb(54, 64, 38);
    display: inline-block;
}
.ss{
    display: block;
    width: fit-content;
    margin: auto;
}
#videoContainer {
    margin: auto;
    text-align: center;
    display:block;
    align-items:center;
    border: none;
}
h2,
h1 {
    text-align: center;
}